.shadow{
    box-shadow: rgba(140, 140, 228, 0.25) 0px 50px 100px -20px, rgba(96, 95, 95, 0.3) 0px 30px 60px -30px, rgba(32, 43, 54, 0.35) 0px -2px 6px 0px inset;
}

.roll-in-left {
	-webkit-animation: roll-in-left 0.8s ease-out both;
	        animation: roll-in-left 0.8s ease-out both;
}

@-webkit-keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  @keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
