@tailwind base;
@tailwind components;
@tailwind utilities;


.cus-shadow {
  box-shadow: 0 1.2px 2.5px rgba(0, 0, 0, 0.428);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotate-animation {
  animation: rotate 1s linear;
}

.rounded-corner {
  border-top-left-radius: 10px !important;
}



@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  50% {
    transform: translateX(-4%);
    opacity: 1;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideIn {
  animation: slideIn 0.7s ease-in-out;
}


.animate-slideIn {
  animation: slideIn 0.7s ease-in-out;
}


@keyframes scaleAnimation {
  0% {
    transform: scale(.7);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

.animate-scalee {
  animation: scaleAnimation 0.5s ease-in-out;
}

ul {
  display: flex;
}

ul li {
  list-style: none;
  margin: 0 5px;
  height: 40px;
  width: 40px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transition: all ease 0.3s;
}

ul li:hover {
  color: #000000;
  background: #ffffff;
  cursor: pointer;
}
.transition-right-slow {
  transition: right 4.5s ease-in-out;
}

/* admin tabs */
.tab-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 2px;
  background-color: #272528;
  border-radius: 5px;
}

.indicator {
  content: "";
  width: 130px;
  height: 28px;
  background: #36bc8b;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 9;
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.tab {
  width: 130px;
  height: 28px;
  position: absolute;
  z-index: 9;
  outline: none;
  opacity: 0;
}

.tab_label {
  width: 130px;
  height: 28px;
  color: white;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  font-size: 0.9rem;
  opacity: 1;
  cursor: pointer;
  font-weight: 500;
}

.tab--1:checked~.indicator {
  left: 2px;
}

.tab--2:checked~.indicator {
  left: calc(130px + 2px);
}

.tab--3:checked~.indicator {
  left: calc(130px * 2 + 2px);
}


/* Responsive styles */
@media (max-width: 600px) {

  .tab-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2px;
    background-color: #272528;
    border-radius: 5px;
  }

  .indicator {
    content: "";
    width: 100px;
    height: 28px;
    background: #36bc8b;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 9;
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    transition: all 0.2s ease-out;
  }

  .tab {
    width: 100px;
    height: 28px;
    position: absolute;
    z-index: 9;
    outline: none;
    opacity: 0;
  }

  .tab_label {
    width: 100px;
    height: 28px;
    color: white;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    font-size: 0.9rem;
    opacity: 1;
    cursor: pointer;
    font-weight: 500;
  }

  .tab--1:checked~.indicator {
    left: 2px;
  }

  .tab--2:checked~.indicator {
    left: calc(100px + 2px);
  }

  .tab--3:checked~.indicator {
    left: calc(100px * 2 + 2px);
  }
}




/* payment tabs */
.tab-containerrr {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 2px;
  background-color: #272528;
  border-radius: 5px;
}

.tabbb {
  width: 130px;
  height: 28px;
  position: absolute;
  z-index: 9;
  outline: none;
  opacity: 0;
}

.indicatorrr {
  content: "";
  width: 130px;
  height: 28px;
  background: #36bc8b;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 9;
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.tab_labelll {
  width: 130px;
  height: 28px;
  color: white;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  font-size: 0.7rem;
  opacity: 1;
  cursor: pointer;
  font-weight: 500;
}

.tab--11:checked~.indicatorrr {
  left: 2px;
}

.tab--22:checked~.indicatorrr {
  left: calc(130px + 2px);
}

.tab--33:checked~.indicatorrr {
  left: calc(130px * 2 + 2px);
}


/* Responsive styles */
@media (max-width: 600px) {

  .tab-containerrr {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2px;
    background-color: #272528;
    border-radius: 5px;
  }

  .indicatorrr {
    content: "";
    width: 100px;
    height: 28px;
    background: #36bc8b;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 9;
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    transition: all 0.2s ease-out;
  }



  .tabbb {
    width: 100px;
    height: 28px;
    position: absolute;
    z-index: 9;
    outline: none;
    opacity: 0;
  }



  .tab_labelll {
    width: 100px;
    height: 28px;
    color: white;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    font-size: 0.6rem;
    opacity: 1;
    cursor: pointer;
    font-weight: 500;
  }

  .tab--11:checked~.indicatorrr {
    left: 2px;
  }

  .tab--22:checked~.indicatorrr {
    left: calc(100px + 2px);
  }

  .tab--33:checked~.indicatorrr {
    left: calc(100px * 2 + 2px);
  }
}



/* profile modal slidding effect */

/* Add these styles to your CSS file or in a <style> tag in your component */
@keyframes slideInBottom {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideOutBottom {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100%);
  }
}

.slide-in-bottom {
  animation: slideInBottom 0.5s forwards;
}

.slide-out-bottom {
  animation: slideOutBottom 0.5s forwards;
}